VITE_SUPABASE_URL=https://kfvwtbutnplrarjmugaq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imtmdnd0YnV0bnBscmFyam11Z2FxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQwNTA0MzEsImV4cCI6MjA3OTYyNjQzMX0.Tbn8YirgtnoCLoxCCCUR39siOsJRMKrUV_WNzgL9fy8