@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));


@layer base {
    :root {
        color-scheme: light;
    }

    .dark {
        color-scheme: dark;
    }

    html,
    body {
        @apply h-full bg-zinc-50 dark:bg-black text-zinc-900 dark:text-zinc-100;
    }
}