@import "tailwindcss";

@layer base {
    body {
        @apply bg-zinc-50 text-zinc-900 transition-colors duration-300;
    }

    :root[class~="dark"] body {
        @apply bg-black text-zinc-100;
    }
}